// ** width & height----
$global-width:100%;
$global-height:100%;
$global-line-height:1.5;
//** margin- -- -
$global-margin: 0 auto;

// ** displays set ups

$global-display-flex:flex;
$global-justify-content-center:center;
$global-justify-content-space-between:space-between;
$global-justify-content-space-around:space-around;
$global-justify-content-space-evenly:space-evenly;
$global-justify-content-start:start;
$global-justify-content-end:end;

$global-align-items-center:center;
$global-align-items-space-between:space-between;
$global-align-items-space-around:space-around;
$global-align-items-space-evenly:space-evenly;
$global-align-items-start:start;
$global-align-items-end:end;

$global-display-grid:grid;

// ** fonts size
$global-font-family:"Neuton", serif;
$global-font-size-1:1rem;
$global-font-size-1-2: 1.2rem;
$global-font-size-1-3:1.3rem;
$global-font-size-1-4:1.4rem;
$global-font-size-1-5:1.5rem;
$global-font-size-1-6:1.6rem;
$global-font-size-1-7:1.7rem;
$global-font-size-1-8:1.8rem;
$global-font-size-1-9:1.9rem;
$global-font-size-2:2rem;
$global-font-size-2-2:2.2rem;
$global-font-size-2-3:2.3rem;
$global-font-size-2-4:2.4rem;
$global-font-size-2-5:2.5rem;
$global-font-size-2-6:2.6rem;
$global-font-size-2-7:2.7rem;
$global-font-size-2-8:2.8rem;
$global-font-size-2-9:2.9rem;
$global-font-size-3:3rem;

// ** font weights--

$global-font-weight-100:100;
$global-font-weight-200:200;
$global-font-weight-300:300;
$global-font-weight-400:400;
$global-font-weight-500:500;
$global-font-weight-600:600;
$global-font-weight-700:700;
$global-font-weight-800:800;
$global-font-weight-900:900;

$global-border-radius:.30rem;